<!-- HEADER -->
<header>
  <div class="container">
    <nav>
      <div class="left">
        <button class="nav-button"><i class="bx bx-command"></i></button>
        <img class="logo" src="/img/kodexe.svg" alt="kodexe" />

        <span class="v-line" style="height: 20px"></span>

        <ul class="nav-list">
          <li><a class="<%= link === "home" ? "active" : "" %>" href="/" class="active">Ev</a></li>
          <li><a class="<%= link === "problemset" ? "active" : "" %>" href="/problemset">Məsələlər</a></li>
          <li><a class="<%= link === "leaderboard" ? "active" : "" %>" href="/leaderboard">Lider löhvəsi</a></li>
          <li><a class="<%= link === "about" ? "active" : "" %>" href="/about">Haqqımızda</a></li>
          <li><a class="<%= link === "discuss" ? "active" : "" %>" href="/discuss">Müzakirə</a></li>
          
          <% if(user && user.type === "Admin"){ %>
            <li><a class="<%= link === "admin" ? "active" : "" %>" href="/admin">Admin</a></li>
          <% } %>
        </ul>
      </div>

      <div class="right">
        <% if(user){ %>
        <button class="notifications"><i class="bx bx-bell"></i></button>
        <a class="profile" href="/<%= user.username %>">
          <img src="/img/users/<%= user.image %>" alt="User" />
        </a>
        <% } else{ %>

        <!-- IF NOT LOGINNED -->
        <a class="auth-link login" href="/login">Giriş</a>
        <a class="auth-link" href="/signup">Qeydiyyat</a>
        <% } %>
      </div>
    </nav>
  </div>
</header>

<script src="/js/navbar.js"></script>