<!DOCTYPE html>
<html lang="az">
<%- include("partials/_head") %>

<body>
  <link rel="stylesheet" href="/codemirror-5.65.12/lib/codemirror.css">
  <link rel="stylesheet" href="/codemirror-5.65.12/theme/dracula.css">
  <script src="/codemirror-5.65.12/lib/codemirror.js"></script>
  <script src="/codemirror-5.65.12/mode/python/python.js"></script>
  <script src="/codemirror-5.65.12/addon/edit/closebrackets.js"></script>

  <%- include("partials/_navbar") %>


  <!-- PROBLEM -->

  <section id="problem">
    <div class="container">
      <div class="nav">
        <ul>
          <li><a class="<%= link === "problem" ? "active" : "" %>" href="/problems/<%= problem._id %>">Məsələ</a></li>
          <li><a class="<%= link === "solutions" ? "active" : "" %>" href="/problems/<%= problem._id %>/solutions">Həllər</a></li>
          <li><a class="<%= link === "discussion" ? "active" : "" %>" href="/problems/<%= problem._id %>/discussion">Müzakirə</a></li>
        </ul>
      </div>

      <h1><%= problem.name %></h1>

      <div class="description"><%= problem.description %></div>

      <div class="constraints">
        <h2>Məhdudiyyətlər</h2>
        <p><%= problem.constraints %></p>
      </div>


      <div class="examples">
        <% for (example of problem.examples){ %>
        <div class="example">
          <div class="left">
            <span>Giriş:</span>
            <p><%= example.input %></p>
          </div>
          <div class="right">
            <span>Çıxış:</span>
            <p><%= example.output %></p>
          </div>
        </div>
        <% } %>
      </div>

      <div class="h-line"></div>

      <form action="/problemset/<%= problem._id %>/solution" method="post">
        <div class="container">
          <h3>Həllini Göndər</h3>

          <div class="language">
            <label for="language">Dil</label>
            <select name="language" id="language">
              <option value="python">Python</option>
              <option value="c">C</option>
              <option value="cpp">C++</option>
            </select>
          </div>

          <div class="code">
            <label>Mənbə kodu</label>
            <textarea name="code" id="code"></textarea>
          </div>

          <button type="submit">Göndər</button>
        </div>
      </form>
    </div>
  </section>

  <script>
    let editor = CodeMirror.fromTextArea(document.getElementById("code"),{
      mode : "text/x-python",
      theme : "dracula",
      lineNumbers: true,
      autoCloseBrackets : true
    })

    editor.save();

    const form = document.querySelector("form");

    document.body.onkeyup = () => {
      document.querySelector("textarea").value = editor.getValue();
    }
  </script>
</body>

</html>