<!DOCTYPE html>
<html lang="az">
  <%- include("partials/_head") %>

  <body>
    <%- include("partials/_navbar") %>

    <section id="problems">
      <div class="container">
        <% for(_problem of problems) { %>
        <div class="problem">
          <div class="left">
            <h3><%= _problem.name %></h3>
            <p>
              <span class="easy"><%= _problem.difficulty %></span>, Xal : <%=
              _problem.score %>, Həllər : <%= _problem.solutions.length %>
            </p>
          </div>
          <a href="/problemset/<%= _problem._id %>">Həll Et</a>
        </div>
        <% } %>
      </div>
    </section>
  </body>
</html>
