<!DOCTYPE html>
<html lang="az">
<%- include("partials/_head") %>

<body>
  <link rel="stylesheet" href="/codemirror-5.65.12/lib/codemirror.css">
  <link rel="stylesheet" href="/codemirror-5.65.12/theme/dracula.css">
  <script src="/codemirror-5.65.12/lib/codemirror.js"></script>
  <script src="/codemirror-5.65.12/mode/python/python.js"></script>
  <script src="/codemirror-5.65.12/mode/clike/clike.js"></script>
  <script src="/codemirror-5.65.12/addon/edit/closebrackets.js"></script>

  <%- include("partials/_navbar") %>


  <!-- PROBLEM -->

  <section id="problem">
    <div class="container">
      <div class="nav">
        <ul>
          <li><a class="<%= link === "problem" ? "active" : "" %>" href="/problems/<%= problem._id %>">Məsələ</a></li>
          <li><a class="<%= link === "solutions" ? "active" : "" %>" href="/problems/<%= problem._id %>/solutions">Həllər</a></li>
          <li><a class="<%= link === "discussion" ? "active" : "" %>" href="/problems/<%= problem._id %>/discussion">Müzakirə</a></li>
        </ul>
      </div>

      <h1><%= problem.name %></h1>

      <div class="description"><%= problem.description %></div>

      <div class="constraints">
        <h2>Məhdudiyyətlər</h2>
        <p><%= problem.constraints %></p>
      </div>


      <div class="examples">
        <% for (example of problem.examples){ %>
        <div class="example">
          <div class="left">
            <span>Giriş:</span>
            <p><%= example.input %></p>
          </div>
          <div class="right">
            <span>Çıxış:</span>
            <p><%= example.output %></p>
          </div>
        </div>
        <% } %>
      </div>

      <div class="h-line"></div>

      <form>
        <div class="container">
          <h3>Həllini Göndər</h3>

          <div class="language">
            <label>Dil</label>
            <select name="language" id="language">
              <option value="python">Python</option>
              <option value="c">C</option>
              <option value="cpp">C++</option>
            </select>
          </div>

          <div class="code">
            <label>Mənbə kodu</label>
            <textarea name="code" id="code"></textarea>
          </div>

          <button type="submit">Göndər</button>
        </div>
      </form>

      <div class="h-line" style="margin: 1rem 0;"></div>

      <div class="result">
        <div class="container">
          <h3>Kodun nəticəsi</h3>
          <!-- NOT RUNNED -->
          <p>Siz hələ kodu icra etməmisiniz</p>
          <!-- NOT RUNNED -->
        </div>
      </div>
    </div>
  </section>

  <script>
    let editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      mode: "text/x-python",
      theme: "dracula",
      lineNumbers: true,
      autoCloseBrackets: true
    })

    editor.save();

    const form = document.querySelector("form");
    const select = document.getElementById("language")
    const textarea = document.querySelector("textarea");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      let url = "/problemset/<%= problem._id %>/solution";
      
      let body = {
        language : select.value,
        code : textarea.value
      }

      let res = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(body)
      });

      let data = await res.json();

      console.log(data);

      updateResult(data)
    })

    function updateResult(data){
      let result = document.querySelector('.result .container')

      if(data.success){
        result.innerHTML = `
        <h3>Kodun nəticəsi</h3>
        <p class="accepted">Qəbul olundu</p>
        <span class="success">TƏBRİKLƏR!</span> 
        `
      }else{
        let s = "";

        if(data.error == 'Yalnış cavab'){
          s = `. Kodunuz ${data.passed} testi keçdi`;
        }else{
          s = " Xətası";
        }

        result.innerHTML = `
        <h3>Kodun nəticəsi</h3>
        <p class="error">${data.error + s}</p>

        <!--
          <div class="output">
            <div class="user-output">
              <h4>Çıxış:</h4>
              <p>Salam KODEX!</p>
            </div>
            <div class="expected-output">
              <h4>Gözlənilən:</h4>
              <p>Salam KODEXE!</p>
            </div>
          </div>

        -->
        `;
      }
    }

    // SELECT

    document.body.onkeyup = () => {
      textarea.value = editor.getValue();
    }


    select.addEventListener("change", (e) => {
      if (select.value == "cpp") {
        editor.setOption("mode", "text/x-c++src")
      } else if (select.value == "c") {
        editor.setOption("mode", "text/x-csrc")
      } else {
        editor.setOption("mode", "text/x-python")
      }

      editor.save()
    })
  </script>
</body>

</html>